<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title> <!--Website title-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    /> <!--CDN for Bootstrap style-->
  </head>
  <body>
     <!--SET UP CONTAINER-->
    <div class="container">
      <!-- ADD JUMBOTRON-->
      <div class="jumbotron text-center" style = "background-color:#900C3F;">
        <!--ADD MAIN TEXT-->
        <h1 style="color:white;">Mission to Mars</h1>
        <!-- Add a button to activate scraping -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" style="background-color:#E91A4B;border:1px solid#E91A4B;" role="button"><span class="glyphicon glyphicon-refresh"></span>Scrape New Data</a></p>
      </div>

      <!-- MARS NEWS SECTION-->
      <div class="row" id="mars-news"><!--row tells Bootstrap we are using a grid system, horizontally aligned-->
        <div class="col-md-12"><!--add a tag that species #of columns, 12-->
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- FEATURED IMAGE AND FACTS SECTION -->
      <!-- FIRST LEVEL -->
      <div class="row" id="mars-featured-image">
      
        <!-- SECOND LEVEL -->
        <div class="col-md-8">
          <h2>Featured Mars Image </h2>
          
          <!-- PULLS IMAGE-->
          <img
            src="{{mars.featured_image}}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>

        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h4>Mars Facts</h4>

            {{ mars.facts | safe }}

          </div>
        </div>
      </div>

      <!-- MARS HEMISPHERE SECTION -->
      <div class="row" id="mars-hemispheres">
        <div class="page-header">
          <h2 class="text-center">Mars Hemispheres</h2>
        </div>
        
        {% for hemisphere in mars.hemisphere_data %}
        <div class="col-xs-6 col-md-3">
          <figure class="img-responsive">
            <div class="thumbnail">
              <a href="{{hemisphere.img_url}}" target = "_blank">
                <div>
                  <img src="{{hemisphere.img_url}}" class="img-responsive" alt = "Responsive image" style = "width:100%">
                  <br>
                  <figcaption style ="text-align: left;">{{hemisphere.title}}</figcaption>
                  <br>
                </div>
              </a>
            </div>
        </figure>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>