<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Mission to Mars</title> <!--Website title-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!--CDN for Bootstrap style-->
 </head>
 <body>
  <!--SET UP CONTAINER-->
  <div class="container">
    <!--ADD HEADER USING JUMBOTRON-->
    <div class="jumbotron text-center">
      <!--ADD MAIN TEXT-->
      <h1>Mission to Mars</h1>
      <p><a class = "btn btn-primary btn-lg" href="/scrape"
                  role = "button">Scrape New Data</a></p>
    </div>
    <!-- Mars News -->
    <div class="row" id="mars-news"><!--row tells Bootstrap we are using a grid system, horizontally aligned-->
      <div class="col-md-12"> <!--add a tag that species #of columns, 12-->
        <div class="media">
          <div class="media-body">
            <h2>Latest Mars News</h2>
            <h4 class="media-heading">{{ mars.news_title }}</h4>
            <p> {{ mars.news_paragraph }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
      <!-- Featured Image -->
      <!-- First level -->
      <div class="row" id="mars-feautured-image">
        <!-- Second level -->
        <div class ="row" id="col-md-8">
          <h2>Feautured Mars Image</h2>
          <img src="{{ mars.featured_image }}" class="img_responsive" alt="Responsive image">
        </div>
        <!-- Mars Facts -->
        <div class="col-md-4">
          <div class="row" id="mars-facts">
            <h4>Mars Facts</h4>
              {{ mars.facts | safe }}

          </div>
        </div>
      </div>
    </div>
 </body>
</html>